body {
    background: lavenderblush;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button {
    font-size: 18px;
    font-weight: bold;
}

button.tablink {
    background-color: coral;
    color: white;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px;
    width: 33.333%;
}

button.tablink:hover {
    background-color: gray;
}

div.headerTab {
    color: white;
    padding: 70px;
    text-align: center;
}

div > h1 {
    font-size: 26px;
}

div#links {
    font-style: italic;
    font-size: 14px;
}

div.contactlink {
    float: left;
    text-align: center;
    width: 33%;
    text-decoration: none;
}

div.contactlink a {
    color: white;
    font-weight: bold;
}

div#Home {background-color: orange;}
div#Projects {background-color: orange;}
div#Contact {background-color: orange;}