body {
    background: #f3cfcf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button {
    font-size: 18px;
    font-weight: bold;
}

button.tablink {
    background-color: #864879;
    color: #f8e3e3;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px;
    width: 33.333%;
}

button.tablink:hover {
    background-color: #3F3351;
}

div.headerTab {
    color: #f8e3e3;
    padding: 70px;
    text-align: center;
}

div > h1 {
    font-size: 26px;
}

h1, h2 {
    color: #1F1D36;
}

div#links {
    font-style: italic;
    font-size: 14px;
}

div.contactdiv {
    padding-bottom: 20px;
    padding-top: 10px;
}

div.contactlink {
    float: left;
    text-align: center;
    width: 33%;
    text-decoration: none;
}

/* div.contactlink a {
    color: white;
    font-weight: bold;
} */

div#Home {background-color: #1F1D36;}
div#Projects {background-color: #1F1D36;}
div#Contact {
    background-color: #1F1D36;
}
